@import "./constants.scss";

@mixin button-default($background, $hover-background, $text-color) {
  background: $background;
  color: $text-color;
  &:hover {
    background: $hover-background;
  }
  &:focus {
    background: $hover-background;
  }
}

@mixin button-outline($color, $text-color) {
  border: 2px solid $color;
  color: $text-color;
  background: transparent;
  &:hover {
    background: rgba($color-light, .2);
    border: 2px solid lighten($color, 10);
    color: lighten($text-color, 10);
  }
}

@mixin button-size($size, $padding, $font-size) {
  height: $size;
  padding: 0 $padding;
  font-size: $font-size;
  & > * {
    margin-left: calc($size / 8);
    &:first-child {
      margin-left: 0;
    }
  }
}

.c-button {
  font-family: sans-serif;
  box-sizing: border-box;
  @include button-default($color-default, lighten($color-default, 15), #ffffff);
  @include button-size(24px, 8px, 14px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: $border-radius;
  cursor: pointer;
  user-select: none;
  outline: none;
  min-width: 100px;
  border: 0;

  &[data-size='24'] {
    @include button-size(24px, 8px, 14px);
  }

  &[data-size='32'] {
    @include button-size(32px, 12px, 16px);
  }

  &[data-size='48'] {
    @include button-size(48px, 24px, 20px);
  }

  &[data-size='56'] {
    @include button-size(56px, 24px, 24px);
  }

  &[data-shape='rectangle'] {
    border-radius: 0;
  }

  &[data-color='primary'] {
    @include button-default($color-primary, lighten($color-primary, 10), #ffffff);
  }

  &[data-color='secondary'] {
    @include button-default($color-dark-grey, lighten($color-dark-grey, 10), #ffffff);
  }

  &[data-color='success'] {
    @include button-default($color-success, lighten($color-success, 10), #ffffff);
  }

  &[data-color='danger'] {
    @include button-default($color-danger, lighten($color-danger, 10), $color-light);
  }

  &[data-variant='outline'] {
    @include button-outline($color-primary, $color-dark);
  }

  &[data-variant='outline'][data-color='primary'] {
    @include button-outline($color-primary, $color-primary);
  }

  &[data-variant='outline'][data-color='secondary'] {
    @include button-outline($color-dark-grey, $color-dark-grey);
  }

  &[data-variant='outline'][data-color='danger'] {
    @include button-outline($color-danger, $color-danger);
  }

  &[data-variant='outline'][data-color='success'] {
    @include button-outline($color-success, $color-success);
  }

  &[aria-disabled=true] {
    opacity: .5;
    pointer-events: none;
  }

  &[data-theme='dark'][data-color='secondary'] {
    @include button-default($color-light, darken($color-light, 10), $color-dark);
  }

  &[data-theme='dark'][data-variant='outline'][data-color='secondary'] {
    @include button-outline($color-light, $color-light);
  }
}
