@import "constants";

button-default($background-color, $text-color) {
  background-color: $background-color;
  color: $text-color;
  &:hover {
    background-color: lighten($background-color, 10);
  }
  &:active {
    background-color: darken($background-color, 10);
  }
}

button-flat($text-color) {
  background-color: transparent;
  color: $text-color;
  &:hover {
    background-color: transparent;
    color: lighten($text-color, 10);
  }
  &:active {
    background-color: transparent;
    color: darken($text-color, 10);
  }
}

button-glass($text-color) {
  background-color: rgba(#ffffff, 0.4);
  color: $text-color;
  &:hover {
    background-color: rgba(#ffffff, 0.5);
  }
  &:active {
    background-color: rgba(#ffffff, 0.3);
  }
}

.{$prefix}button {
  button-default($color-default, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  font-weight: bold;
  border-radius: $border-radius;
  cursor: pointer;
  user-select: none;

  &.-size-24 {
    height: 24px;
    padding: 0 4px;
    font-size: 14px;
  }

  &.-size-32 {
    height: 32px;
    padding: 0 8px;
    font-size: 16px;
  }

  &.-size-48 {
    height: 48px;
    padding: 0 16px;
    font-size: 20px;
  }

  &.-color-primary {
    button-default($color-primary, #ffffff);
  }

  &.-color-success {
    button-default($color-success, #ffffff);
  }

  &.-color-danger {
    button-default($color-danger, #ffffff);
  }

  &.-color-light {
    button-default($color-light, $color-default);
  }

  &.-view-flat {
    button-flat($color-default);
  }

  &.-view-flat.-color-primary {
    button-flat($color-primary);
  }

  &.-view-flat.-color-success {
    button-flat($color-success);
  }

  &.-view-flat.-color-danger {
    button-flat($color-danger);
  }

  &.-view-flat.-color-light {
    button-flat($color-light);
  }
    
  &.-view-glass {
    button-glass($color-default);
  }

  &.-view-glass.-color-primary {
    button-glass($color-primary);
  }

  &.-view-glass.-color-success {
    button-glass($color-success);
  }

  &.-view-glass.-color-danger {
    button-glass($color-danger);
  }

  &.-view-glass.-color-light {
    button-glass($color-light);
  }

  &.-disabled {
    opacity: .5;
    pointer-events: none;
  }
}
