@import "./constants.scss";

.c-checkbox {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $color-grey;
  outline: none;

  &:focus &--icon {
    outline: 2px solid rgba($color-primary, .4);
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: $color-light-grey;
    border: 1px solid $color-grey;
    border-radius: $border-radius;
  }

  &[aria-disabled='true'] {
    opacity: .5;
    pointer-events: none;
  }
  &[data-size='16'] {
    font-size: 14px;
  }

  &[data-size='16'] &--icon {
    width: 16px;
    height: 16px;
  }

  &[data-size='24'] {
    font-size: 16px;
  }

  &[data-size='24'] &--icon {
    width: 24px;
    height: 24px;
  }

  &[data-size='32'] {
    font-size: 20px;
  }

  &[data-size='32'] &--icon {
    width: 32px;
    height: 32px;
  }

  & > * {
    margin-left: 4px;
    &:first-child {
      margin-left: 0;
    }
  }

  &[aria-checked='true'] &--icon.-checked {
    display: none;
  }

  &[aria-checked='false'] &--icon.-not-checked {
    display: none;
  }
}
