@import "./constants.scss";

.c-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $color-grey;
  outline: none;

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: $color-light-grey;
    border: 1px solid $color-grey;
    border-radius: #{$border-radius}px;
  }

  &.-disabled {
    opacity: .5;
    pointer-events: none;
  }
  &.-size-16 {
    font-size: 14px;
  }

  &.-size-16 &--icon {
    width: 16px;
    height: 16px;
  }

  &.-size-24 {
    font-size: 16px;
  }

  &.-size-24 &--icon {
    width: 24px;
    height: 24px;
  }

  &.-size-32 {
    font-size: 20px;
  }

  &.-size-32 &--icon {
    width: 32px;
    height: 32px;
  }

  & > * {
    margin-left: 4px;
    &:first-child {
      margin-left: 0;
    }
  }

  &[aria-checked=true] &--icon.-checked {
    display: none;
  }

  &[aria-checked=false] &--icon.-not-checked {
    display: none;
  }
}
