$prefix = 'c-';
$color-default = #888888;
$color-primary = #0099bb;
$color-success = #00bb99;
$color-danger = #bb0000;
$color-light = #ffffff;

$xxsmall = 480px;
$xsmall = 768px;
$small = 1024px;
$medium = 1280px;
$large = 1440px;
$xlarge = 1920px;
$xxlarge = 2560px;

$space-sizes = 80px, 72px, 64px, 56px, 48px, 40px, 32px, 24px, 16px, 8px, 4px, 2px;

$border-radius = 0;
