$prefix = 'c-';
$color-default = #444444;
$color-primary = #0088aa;
$color-success = #00bb66;
$color-danger = #bb0000;
$color-light = #eeeeee;

$color-light-grey = #eeeeee;
$color-grey = #bbbbbb;
$color-dark-grey = #444444;

$xxsmall = 480px;
$xsmall = 768px;
$small = 1024px;
$medium = 1280px;
$large = 1440px;
$xlarge = 1920px;
$xxlarge = 2560px;

$space-sizes = 80px, 72px, 64px, 56px, 48px, 40px, 32px, 24px, 16px, 8px, 4px, 2px;
$block-sizes = 256px, 128px, 64px, 32px;

$border-radius = 0;
