@import "constants.styl";

.c-icon {
  display: block;
  fill: currentColor;

  svg {
    display: block;
  }

  &, svg {
    height: 24px;
    width: 24px;
    min-width: 24px;
  }

  &.-size-16, &.-size-16 svg {
    width: 16px;
    height: 16px;
    min-width: 16px;
  }

  &.-size-24, &.-size-24 svg {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }

  &.-size-32, &.-size-32 svg {
    width: 32px;
    height: 32px;
    min-width: 32px;
  }

  &.-size-48, &.-size-48 svg {
    width: 48px;
    height: 48px;
    min-width: 48px;
  }
  &.-size-56, &.-size-56 svg {
    width: 56px;
    height: 56px;
    min-width: 56px;
  }

  &.-size-64, &.-size-64 svg {
    width: 64px;
    height: 64px;
    min-width: 64px;
  }

  &.-size-128, &.-size-128 svg {
    width: 128px;
    height: 128px;
    min-width: 128px;
  }

  &.-color-primary {
    fill: $color-primary;
  }

  &.-color-success {
    fill: $color-success;
  }

  &.-color-danger {
    fill: $color-danger;
  }

  &.-color-light {
    fill: $color-light;
  }
}
