@import "./constants.scss";

@mixin icon-size($size) {
  width: $size;
  min-width: $size;
  height: $size;
  min-height: $size;
}

@mixin icon-width($size) {
  width: $size;
  min-width: $size;
  height: auto;
  min-height: auto;
}

@mixin icon-height($size) {
  width: auto;
  min-width: auto;
  height: $size;
  min-height: $size;
}

.c-icon {
  display: block;
  fill: currentColor;
  transition: transform .3s ease-in-out;
  transform-style: preserve-3d;

  &:focus {
    outline: 2px solid rgba($color-primary, .4);
  }

  svg {
    display: block;
  }

  &, svg {
    @include icon-size(24px);
  }

  &[data-size='12'], &[data-size='12'] svg {
    @include icon-size(16px);
  }

  &[data-size='16'], &[data-size='16'] svg {
    @include icon-size(16px);
  }

  &[data-width='16'], &[data-width='16'] svg {
    @include icon-width(16px);
  }

  &[data-height='16'], &[data-height='16'] svg {
    @include icon-height(16px);
  }

  &[data-size='32'], &[data-size='32'] svg {
    @include icon-size(32px);
  }

  &[data-width='32'], &[data-width='32'] svg {
    @include icon-width(32px);
  }

  &[data-height='32'], &[data-height='32'] svg {
    @include icon-height(32px);
  }

  &[data-color='primary'] {
    fill: $color-primary;
  }

  &[data-color='success'] {
    fill: $color-success;
  }

  &[data-color='danger'] {
    fill: $color-danger;
  }

  &[data-color='light'] {
    fill: $color-light;
  }

  &[data-color='dark'] {
    fill: $color-dark;
  }

  &[data-rotate='90'] {
    transform: rotate(90deg);
  }

  &[data-rotate='180'] {
    transform: rotate(180deg);
  }

  &[data-rotate='270'] {
    transform: rotate(270deg);
  }

  &[data-clickable='true'] {
    cursor: pointer;
  }
}
