@import "constants.styl";

$icon-sizes = 12, 16, 24, 32, 48, 56, 64, 128;

icon-size($size) {
  height: ($size)px;
  width: ($size)px;
  min-width: ($size)px;
}

icon-height($size) {
  height: ($size)px;
  min-height: ($size)px;
}

icon-width($size) {
  width: ($size)px;
  min-width: ($size)px;
}

.c-icon {
  display: inline-flex;
  fill: currentColor;

  svg {
    display: block;
  }

  &, svg {
    icon-size(24px);
  }

  for $i in $icon-sizes {
    &.-size-{$i}, &.-size-{$i} svg {
      icon-size($i);
    }

    &.-height-{$i}, &.-height-{$i} svg {
      icon-height($i);
    }

    &.-width-{$i}, &.-width-{$i} svg {
      icon-width($i);
    }
  }

  &.-color-primary {
    fill: $color-primary;
  }

  &.-color-success {
    fill: $color-success;
  }

  &.-color-danger {
    fill: $color-danger;
  }

  &.-color-light {
    fill: $color-light;
  }

  &.-rotate-90 {
    transform: rotate(90deg);
  }

  &.-rotate-180 {
    transform: rotate(180deg);
  }

  &.-rotate-270 {
    transform: rotate(270deg);
  }

  &.-clickable {
    cursor: pointer;
  }
}
