@import "./constants.scss";

@mixin input-size($size, $font-size) {
  height: $size;
  padding: 0 calc($size / 4);
  font-size: $font-size;
}

.c-input {
  input {
    @include input-size(24px, 14px);
    box-sizing: border-box;
    width: 100%;
    background: $color-light;
    border: 1px solid $color-grey;
    outline: none;
    border-radius: $border-radius;
    font-family: "Source Sans Pro", sans-serif;
    &:focus {
      border: 1px solid $color-primary;
    }
  }
  &--label {
    font-size: 16px;
    color: $color-dark-grey;
    padding: 0 0 8px 0;
  }
  &[data-size='24'] input {
    @include input-size(24px, 14px);
  }
  &[data-size='32'] input {
    @include input-size(32px, 16px);
  }
  &[data-size='48'] input {
    @include input-size(48px, 18px);
  }
  &[data-size='24'][data-shape='rounded'] input {
    border-radius: 12px;
  }
  &[data-size='32'][data-shape='rounded'] input {
    border-radius: 16px;
  }
  &[data-size='48'][data-shape='rounded'] input {
    border-radius: 24px;
  }
  &[data-color='success'] input {
    border-color: $color-success;
  }
}
