@import "./constants.scss";

.c-loading {
  display: flex;

  svg {
    width: 24px;
    height: 24px;
  }

  circle {
    stroke: $color-primary;
  }

  &.-size-16 svg {
    height: 16px;
    width: 16px;
  }

  &.-size-24 svg {
    height: 24px;
    width: 24px;
  }

  &.-size-20 svg {
    height: 20px;
    width: 20px;
  }

  &.-size-32 svg {
    height: 32px;
    width: 32px;
  }

  &.-size-40 svg {
    height: 40px;
    width: 40px;
  }

  &.-size-48 svg {
    height: 48px;
    width: 48px;
  }

  &.-color-light circle {
    stroke: $color-light;
  }

  &.-color-success circle {
    stroke: $color-success;
  }
}
