@import "constants.styl";

.c-loading {
  svg {
    width: 24px;
    height: 24px;
  }

  circle {
    stroke: $color-primary;
  }

  &.-size-16 svg {
    height: 16px;
    width: 16px;
  }

  &.-size-24 svg {
    height: 24px;
    width: 24px;
  }

  &.-size-32 svg {
    height: 32px;
    width: 32px;
  }

  &.-size-48 svg {
    height: 48px;
    width: 48px;
  }
}
