@import "./constants.scss";

.c-loading {
  display: flex;

  svg {
    width: 24px;
    height: 24px;
  }

  circle {
    stroke: $color-dark-grey;
  }

  &[data-size='16'] svg {
    height: 16px;
    width: 16px;
  }

  &[data-size='24'] svg {
    height: 24px;
    width: 24px;
  }

  &[data-size='32'] svg {
    height: 32px;
    width: 32px;
  }

  &[data-size='48'] svg {
    height: 48px;
    width: 48px;
  }

  &[data-color='light'] circle {
    stroke: $color-light;
  }

  &[data-color='primary'] circle {
    stroke: $color-primary;
  }

  &[data-color='success'] circle {
    stroke: $color-success;
  }

  &[data-color='danger'] circle {
    stroke: $color-danger;
  }
}
