@import 'constants';
@import 'layout';

make-fixed($prefix, $separator, $postfix) {
  make-layout($prefix, $separator, $postfix);
}

make-responsive($prefix, $separator) {
  make-fixed($prefix, $separator, '');

  @media (max-width: $xxsmall) {
    make-fixed($prefix, $separator, '-xxs-lte');
  }

  @media (max-width: $xsmall) {
    make-fixed($prefix, $separator, '-xs-lte');
  }

  @media (max-width: $small) {
    make-fixed($prefix, $separator, '-s-lte');
  }

  @media (max-width: $medium) {
    make-fixed($prefix, $separator, '-m-lte');
  }

  @media (max-width: $large) {
    make-fixed($prefix, $separator, '-l-lte');
  }

  @media (max-width: $xlarge) {
    make-fixed($prefix, $separator, '-xl-lte');
  }

  @media (max-width: $xxlarge) {
    make-fixed($prefix, $separator, '-xxl-lte');
  }

  @media (min-width: $xxsmall + 1) {
    make-fixed($prefix, $separator, '-xxs-gt');
  }

  @media (min-width: $xsmall + 1) {
    make-fixed($prefix, $separator, '-xs-gt');
  }

  @media (min-width: $small + 1) {
    make-fixed($prefix, $separator, '-s-gt');
  }

  @media (min-width: $medium + 1) {
    make-fixed($prefix, $separator, '-m-gt');
  }

  @media (min-width: $large + 1) {
    make-fixed($prefix, $separator, '-l-gt');
  }

  @media (min-width: $xlarge + 1) {
    make-fixed($prefix, $separator, '-xl-gt');
  }

  @media (min-width: $xxlarge + 1) {
    make-fixed($prefix, $separator, '-xxl-gt');
  }
}
