@use "constants.scss";

@mixin shadow() {
  box-shadow: constants.$shadow-md;
}

@mixin focus-ring($color: constants.$focus-ring-color) {
  outline: none;
  box-shadow: 0 0 0 constants.$focus-ring-width $color;
}

@mixin scroll-bar() {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: constants.$color-neutral-300;
    border-radius: constants.$radius-full;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: constants.$color-neutral-400;
  }
}
