.c-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .6);

  &--content {
    background: white;
    max-width: calc(100% - 32px);
    max-heihgt: calc(100% - 32px);
  }
}
