@import "./constants.scss";

.c-pagination {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;

  &--item, &--ellipsis {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
  }

  &--item {
    cursor: pointer;
    padding: 0;
    border: 0;
    background: transparent;
    border-radius: 12px;
    &:focus {
      outline: 2px solid rgba($color-primary, .4);
    }
    &.-characters-multiple {
      width: auto;
      padding: 0 4px;
    }
  }

  &--ellipsis {
    cursor: default;
  }

  &--item[data-current='true'] {
    background: $color-primary;
    color: white;
  }

  &--prev, &--next {
    color: $color-primary;
    cursor: pointer;
    height: 24px;
    width: 24px;
    padding: 0;
    border: 0;
    background: transparent;
    border-radius: 12px;
    &:focus {
      outline: 2px solid rgba($color-primary, .4);
    }
  }
}
