@import "./constants.scss";

@mixin pill-default($background-color, $color) {
  background-color: $background-color;
  color: $color;
}

@mixin pill-size($size, $font-size) {
  font-size: $font-size;
  height: $size;
  padding: 0 calc($size / 2);
  border-radius: calc($size / 2);
  min-width: calc($size / 2);
  font-weight: bold;
  & > * {
    margin-left: calc($size / 8);
    &:first-child {
      margin-left: 0;
    }
  }
}

.c-pill {
  @include pill-size(24px, 14px);
  font-family: sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $color-dark-grey;
  color: #ffffff;
  border-radius: 12px;

  &[data-color='primary'] {
    @include pill-default($color-primary, #ffffff);
  }

  &[data-color='success'] {
    @include pill-default($color-success, #ffffff);
  }

  &[data-color='danger'] {
    @include pill-default($color-danger, #ffffff);
  }

  &[data-color='light'] {
    @include pill-default($color-light, $color-default);
  }

  &[data-size='16'] {
    @include pill-size(16px, 12px);
  }

  &[data-size='24'] {
    @include pill-size(24px, 14px);
  }

  &[data-size='32'] {
    @include pill-size(32px, 16px);
  }

  &[data-size='48'] {
    @include pill-size(48px, 20px);
  }
}
