@import "constants.styl"

select-size($size, $font-size) {
  height: $size;
  padding: 0 ($size / 4);
  font-size: $font-size;
  & > * {
    margin-left: ($size / 4);
    &:first-child {
      margin-left: 0;
    }
  }
}

.c-select {
  &--box {
    select-size(24px, 14px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border: 1px solid $color-grey;
  }
  &--drop-down {
    position: absolute;
    background: $color-white;
    box-shadow: 0 0 5px rgba($color-black, 0.2);
  }
  &--option {
    padding: 8px;
    cursor: pointer;
    &:hover {
      background: $color-light-grey;
    }
  }
  &--icon {
    padding-left: 4px;
  }
  &.-selected &--box {
    border: 1px solid $color-primary;
  }
}
