@import "./constants.scss";
@import "./mixins.scss";

@mixin select-size($size, $font-size) {
  height: $size;
  padding: 0 ($size / 4);
  font-size: $font-size;
  & > * {
    margin-left: ($size / 4);
    &:first-child {
      margin-left: 0;
    }
  }
}

.c-select {
  font-family: sans-serif;
  &--box {
    @include select-size(24px, 14px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border: 1px solid $color-grey;
    border-radius: $border-radius;
    cursor: pointer;
  }
  &--dropdown {
    @include scroll-bar();
    font-family: sans-serif;
    position: absolute;
    overflow-x: auto;
    background: $color-light;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,0.06);
    border-radius: $border-radius;
    &[data-orientation='top'] {
      margin-top: -4px;
    }
    &[data-orientation='bottom'] {
      margin-top: 4px;
    }
  }
  &--option {
    padding: 8px;
    cursor: pointer;
    &[aria-selected='true'] {
      font-weight: bold;
    }
    &:hover {
      background: $color-grey;
    }
  }
  &--icon {
    padding-left: 4px;
  }
  &--label {
    font-size: 16px;
    color: $color-dark-grey;
    padding: 0 0 8px 0;
  }
  &:focus &--box {
    border: 1px solid $color-primary;
  }
  &[data-size='32'] &--box {
    @include select-size(32px, 16px);
  }
  &[data-size='40'] &--box {
    @include select-size(40px, 16px);
  }
}
