@import "./constants.scss";

.c-slider {
  flex: 1;
  cursor: pointer;
  position: relative;
  height: 24px;;

  &--container {
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    right: 24px;
  }

  &--track {
    position: absolute;
    height: 16px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  &--progress {
    position: absolute;
    height: 16px;
    background: $color-primary;
    border-radius: 8px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 20px;
  }

  &--handle {
    position: absolute;
    height: 24px;
    width: 24px;
    background: white;
    border-radius: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}
