@import "./constants.scss";

@mixin tabs-option-size($size, $font-size, $space) {
  height: $size;
  font-size: $font-size;
  padding: 0 $space;

  & > * {
    margin-left: $space;
    &:first-child {
      margin-left: 0;
    }
  }
}

.c-tabs {
  display: flex;
  position: relative;
  border-bottom: 1px solid $color-grey;
  &--option {
    @include tabs-option-size(24px, 14px, 12px);
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    &.-selected {
      font-weight: bold;
    }
  }
  &--line {
    position: absolute;
    bottom: -1px;
    height: 3px;
    background-color: $color-primary;
    transition: left .3s ease-in-out, width .3s ease-in-out;
  }
  &--count {
    font-size: 12px;
    height: 16px;
    background: $color-dark-grey;
    border-radius: 8px;
    padding: 0 8px;
    line-height: 16px;
    color: $color-light;
    font-weight: bold;
  }
  &.-size-24 &--option {
    @include tabs-option-size(24px, 14px, 12px);
  }
  &.-size-32 &--option {
    @include tabs-option-size(32px, 14px, 14px);
  }
  &.-size-48 &--option {
    @include tabs-option-size(48px, 16px, 16px);
  }
  &.-size-56 &--option {
    @include tabs-option-size(56px, 16px, 20px);
  }
}
