@import "./constants.scss";

@mixin tabs-option-size($size, $font-size, $space) {
  height: $size;
  font-size: $font-size;
  padding: 0 $space;

  & > * {
    margin-left: $space;
    &:first-child {
      margin-left: 0;
    }
  }
}

.c-tabs {
  font-family: sans-serif;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid $color-grey;
    bottom: 0;
  }
  &--options {
    display: flex;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
  }
  &--option {
    @include tabs-option-size(24px, 14px, 12px);
    display: flex;
    align-items: center;
    user-select: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    white-space: nowrap;
    &.-selected {
      font-weight: bold;
    }
  }
  &--line {
    position: absolute;
    z-index: 1;
    bottom: -1px;
    height: 3px;
    background-color: $color-primary;
    transition: left .3s ease-in-out, width .3s ease-in-out;
  }
  &--count {
    font-size: 12px;
    height: 16px;
    background: $color-dark-grey;
    border-radius: 8px;
    padding: 0 8px;
    line-height: 16px;
    color: $color-light;
    font-weight: bold;
  }
  &[data-size='24'] &--option {
    @include tabs-option-size(24px, 14px, 12px);
  }
  &[data-size='32'] &--option {
    @include tabs-option-size(32px, 14px, 14px);
  }
  &[data-size='48'] &--option {
    @include tabs-option-size(48px, 16px, 16px);
  }
  &[data-size='56'] &--option {
    @include tabs-option-size(56px, 16px, 20px);
  }
}
