@import "./constants.scss";

@mixin textarea-size($size, $font-size) {
  height: $size;
  min-height: $size;
  max-height: $size * 4;
  font-size: $font-size;
}

.c-textarea {
  textarea {
    @include textarea-size(48px, 16px);
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 8px;
    background: $color-light;
    border: 1px solid $color-grey;
    outline: none;
    border-radius: #{$border-radius}px;
    font-family: 'Source Sans Pro', sans-serif;
    resize: vertical;
    &:focus {
      border: 1px solid $color-primary;
    }
  }
  &--label {
    font-size: 16px;
    color: $color-dark-grey;
    padding: 0 0 8px 0;
  }
  &.-size-48 textarea {
    @include textarea-size(48px, 16px);
  }
  &.-size-64 textarea {
    @include textarea-size(64px, 16px);
  }
  &.-size-128 textarea {
    @include textarea-size(128px, 16px);
  }
}
