@import "constants.styl";

textarea-size($size, $font-size) {
  height: $size;
  font-size: $font-size;
}

.c-textarea {
  textarea {
    textarea-size(48px, 16px);
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 8px;
    background: $color-light-grey;
    border: 1px solid $color-grey;
    outline: none;
    &:focus {
      border: 1px solid $color-primary;
    }
  }
  &--label {
    font-size: 14px;
    color: $color-dark-grey;
    padding: 4px 0;
  }
  &.-size-48 textarea {
    input-size(48px, 16px);
  }
  &.-size-64 textarea {
    input-size(64px, 16px);
  }
  &.-size-128 textarea {
    input-size(128px, 16px);
  }
}
