@import "./constants.scss";

.c-toggle {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  outline: none;

  &--label {
    padding-left: 4px;
    font-size: 16px;
  }

  &--container {
    position: relative;
    outline: none;
    cursor: pointer;
    height: 24px;
    width: 46px;
    margin-right: 4px;
  }

  &--handle {
    position: absolute;
    top: 0;
    left: 2px;
    height: 20px;
    width: 20px;
    margin: 2px 0;
    background: $color-light;
    border-radius: 50%;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.25);
    transition: left .3s ease-in-out;
  }

  &--line {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 46px;
    background: $color-light-grey;
    border-radius: 12px;
    transition: background .3s ease-in-out;
  }

  &[aria-checked='true'] &--handle {
    left: 24px;
  }

  &[aria-checked='true'] &--line {
    background: $color-primary;
  }

  &[data-size='32'] &--label {
    font-size: 16px;
  }

  &[data-size='32'] &--container{
    height: 32px;
    width: 48px;
  }

  &[data-size='32'] &--handle {
    height: 26px;
    width: 26px;
  }

  &[data-size='32'] &--line {
    top: 6px;
    height: 20px;
    width: 48px;
    border-radius: 10px;
  }

  &[data-size='32'][aria-checked=true] &--handle {
    left: 22px;
  }

  &[aria-disabled=true] {
    opacity: .5;
    pointer-events: none;
  }
}
