@import "./constants.scss";
@import "./mixins.scss";

.c-tooltip {
  font-family: sans-serif;
  position: absolute;
  z-index: 1000;
  padding: 8px;
  background: $color-dark-grey;
  color: $color-light;
  border-radius: $border-radius;
  user-select: none;
  pointer-events: none;
  @include shadow();

  &--tail {
    position: absolute;
  }

  &--tail[data-position='bottom'] {
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-top: 8px solid $color-dark-grey;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  &--tail[data-position='top'] {
    top: 0;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    border-bottom: 8px solid $color-dark-grey;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  &--tail[data-position='left'] {
    top: 50%;
    left: 0;
    margin-left: -8px;
    margin-top: -8px;
    border-right: 8px solid $color-dark-grey;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }

  &--tail[data-position='right'] {
    top: 50%;
    left: 100%;
    margin-right: -8px;
    margin-top: -8px;
    border-left: 8px solid $color-dark-grey;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
}
