@import "./constants.scss";

.c-upload {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed $color-grey;
  min-height: 80px;
  cursor: pointer;

  &.-active {
    border-color: $color-primary;
  }
}
